#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/ruby-pkg-tools/1/class/ruby-setup-rb.mk


# Add here any variable or target overrides you need.
install/unicorn::
	$(MAKE) -C $(DEB_BUILDDIR)/Documentation install-man
	mkdir -p $(DEB_DESTDIR)usr/share/man/man1
	cp -R $(DEB_BUILDDIR)/man/* \
	      $(DEB_DESTDIR)/usr/share/man/
